.navigation-logo {
  .logo {
    margin: 0 auto;
    padding-top: 50px;
    flex-basis: 15%;
    width: 15%;
    .nav-logo {
      width: 120px;
      margin-left: 1rem;
    }
  }
}

.navigation {
  display: flex;
  padding-top: 1rem;
  height: 120px;
  justify-content: center;
  align-items: center;
  .links {
    display: flex;
    flex-basis: 60%;
    a {
      font-family: $font-family;
      text-decoration: none;
      padding: 1rem;
      color: $color-gray;
    }
  }
  .search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 20%;
    .search-bar {
      border: 1px solid $color-gray;
      background: none;
      font-family: $font-family;
      height: 30px;
      width: 220px;
      padding: 4px;
    }
    .search-btn {
      background: $color-gray;
      color: $color-white;
      border: 1px solid $color-gray;
      border-radius: 8px;
      font-family: $font-family;
      padding: 4px;
      height: 30px;
      width: 40px;

    }
  }
}
