@import "utils/variables";

@mixin createCol($col) {
  @for $i from 1 through $col{
      $width: ($i / $col) * 100% - 1;

  .col-lg-#{$i} {
    display: flex;
    flex-direction: column;
    width: $width;
    flex-basis: $width;
    }
  }
}

@mixin tabCol($col) {
  @for $i from 1 through $col{
      $width-tab: ($i / $col) * 100% -1;

  .col-lg-#{$i} {
    display: flex;
    flex-direction: column;
    width: $tablet-width;
    flex-basis: $tablet-width;
    }
  }
}


@mixin tablet {
  @media #{$tablet-width} {
    @content;
  }
}
