$color-white: #f5f5f5;
$color-gray: #515052;
$color-black: #000;
$color-thoughtless: #C02942;
$color-green: #63A28F;

//Lighter Colors
$lighter-black: lighten($color-black, 40%);

//Darker Colors
$darker-thoughtless: darken($color-thoughtless, 10%);

// Font Family Variable
$font-family: 'Barlow Condensed', sans-serif;

// Sizes
$tablet-width: 'only screen and (max-width:768px)';
$mobile-width: 'only screen and (max-width: 375px)';
$hero-display: 'only screen and (max-width: 1000px)';
